<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Review Analysis</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style type="text/css">
  #example1 {
   background-image:url("static/min.jpeg");
  background-repeat: repeat;
  background-size: 1500px 800px ;
}
  /*h4{
    color: white;

  }*/
</style>
</head>
<body id="example1">
    


 <center><img src="{{ url_for('static',filename='head.png') }}" width="1200" height="70"></center>
 <br><br><br><br>

 <!-- {{reviewcount}} -->
<center>
  <b><label style="color: white;"><h1>Select Product</h1></label></b>
 {%for i in range(productname.index["start"], productname.index["stop"],productname.index["step"])%}
 <div class="w3-container">
  <div style="background-color: aliceblue; width: 60%;" class="w3-card-4">
    <div class="w3-container">
      <p>No. of Reviews: {{reviewcount[i]}}</p>
      <hr>
      <img src="https://images-na.ssl-images-amazon.com/images/I/618IdSgnVvL._UX342_.jpg" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
      <p>{{productname[i]}}</p><br>
    </div>
    <input type="button" class="w3-button w3-block w3-dark-grey" onclick="window.location.href='predictSeller?q2=1';" value="Get Feedback" />
  </div>
</div>
<br><br>
{%endfor%} 
</center>

 <!-- <center>
  <div class="w3-container">
    <div style="background-color: aliceblue; width: 60%;" class="w3-card-4">
      <div class="w3-container">
        <p>No. of Reviews</p>
        <hr>
        <img src="https://images-na.ssl-images-amazon.com/images/I/618IdSgnVvL._UX342_.jpg" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
        <p>Geneva Platinum Silicone Strap Analogue Watch for Women & Girls - GP-379</p><br>
      </div>
      <input type="button" class="w3-button w3-block w3-dark-grey" onclick="window.location.href='predictSeller?q2=1';" value="Get Feedback" />
    </div>
  </div>
  <br><br>
  <div class="w3-container">
    <div style="background-color: aliceblue; width: 60%;" class="w3-card-4">
      <div class="w3-container">
        <p>No. of Reviews</p>
        <hr>
        <img src="https://images-na.ssl-images-amazon.com/images/I/71LeNhMuPkL._UY445_.jpg" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
        <p>Geneva Platinum Analogue Gold Dial Women's Watch -GNV01</p><br>
      </div>
      <input type="button" class="w3-button w3-block w3-dark-grey" onclick="window.location.href='predictSeller?q2=2';" value="Get Feedback" />
    </div>
  </div>
  <br><br>
  <div class="w3-container">
    <div style="background-color: aliceblue; width: 60%;" class="w3-card-4">
      <div class="w3-container">
        <p>No. of Reviews</p>
        <hr>
        <img src="https://images-na.ssl-images-amazon.com/images/I/71GnM2heFOL._UY445_.jpg" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
        <p>IIk Collection Watches Stainless Steel Chain Day and Date Analogue Silver Dial Women's Watch</p><br>
      </div>
      <input type="button" class="w3-button w3-block w3-dark-grey" onclick="window.location.href='predictSeller?q2=3';" value="Get Feedback" />
    </div>
  </div>
  <br><br>
  <div class="w3-container">
    <div style="background-color: aliceblue; width: 60%;" class="w3-card-4">
      <div class="w3-container">
        <p>No. of Reviews</p>
        <hr>
        <img src="https://images-na.ssl-images-amazon.com/images/I/81jksKWkT%2BL._UX342_.jpg" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
        <p>NUBELA Analogue Prizam Glass Black Dial Girl's Watch</p><br>
      </div>
      <input type="button" class="w3-button w3-block w3-dark-grey" onclick="window.location.href='predictSeller?q2=4';" value="Get Feedback" />
    </div>
  </div>
  <br><br>
  <div class="w3-container">
    <div style="background-color: aliceblue; width: 60%;" class="w3-card-4">
      <div class="w3-container">
        <p>No. of Reviews</p>
        <hr>
        <img src="https://images-na.ssl-images-amazon.com/images/I/613OKCMrxxL._UX342_.jpg" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
        <p>Analogue Pink</p><br>
      </div>
      <input type="button" class="w3-button w3-block w3-dark-grey" onclick="window.location.href='predictSeller?q2=5';" value="Get Feedback" />
    </div>
  </div>
  <br><br>
  
</center> -->


 <!-- <form method="GET" action="/predictSeller" class="register-form" id="register-form" role="form">
<div class="center">
  <div class="b4">





    <center><b><label style="color: white;"><h1>Select Product</h1></label></b>

<select id="football" class="b4" name="q2" style="height: 50px">
  <option value="1">Geneva Platinum Silicone Strap Analogue Watch for Women & Girls - GP-379</option>
  <option value="2">Geneva Platinum Analogue Gold Dial Women's Watch -GNV01</option>
  <option value="3">IIk Collection Watches Stainless Steel Chain Day and Date Analogue Silver Dial Women's WatchNUBELA Analogue Prizam Glass Black Dial Girl's Watch</option>
  <option value="4">NUBELA Analogue Prizam Glass Black Dial Girl's Watch</option>
  <option value="5">Analogue Pink</option>
  <option value="6">Sonata Analog Champagne Dial Women's Watch-NK87018YM01</option>
  <option value="7">Sonata Analog White Dial Women's Watch -NJ8989PP03C</option>
  <option value="8">Everyday Analog Black Dial Women's Watch -NK8085SM01</option>
  <option value="9">Sonata SFAL Analog Silver Dial Women's Watch -NK8080SM01</option>
  <option value="10">Timewear Analogue Round Beige Dial Women's Watch - 107Wdtl</option>
  <option value="11">TIMEWEAR Analogue Brown Dial Women's Watch - 134Bdtl</option>
  <option value="12">Sonata SFAL Analog Silver Dial Women's Watch -NK8080SM-3372</option>
  <option value="13">Adamo Analog Blue Dial Women's Watch-9710SM01</option>
  <option value="14">Geneva Platinum Analogue Gold Dial Women's Watch -GNV01</option>
  <option value="15">ADAMO Aritocrat Women's & Girl's Watch BG-335</option>
  <option value="16">Imperious Analog Women's Watch 1021-1031</option>
  <option value="17">IIK Collection Watches Analogue Silver Dial Girl's & Women's Analogue Watch - IIK-1033W</option>
  <option value="18">Sonata Analog White Dial Women's Watch -NJ8976SM01W</option>
  <option value="19">Geneva Platinum Analogue Rose Gold Dial Women'S Watch- Gp-649</option>
  <option value="20">A R Sales Analogue Girl's and Women's Watch</option>
  <option value="21">Foxter Bangel Analog White Dial Women's Watch</option>
  <option value="22">Howdy Women Watch</option>
 
</select></center>
<br><br>
<div align="center">
    <div class="b1">
   <button class="b1" type="submit" height="100" width="300">Submit</button>

</div>
</div>
<br><br>

 </form> -->
</body>
</html>