<!DOCTYPE html>
<html lang="en">
<head>
   <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Result</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style1.css') }}">
    
<style type="text/css">
  td,tr{
    padding: 10px;
    width: 50%;
  }
  td{
    
  }

  /* table    { border:ridge 5px red; background-color:#F6F6F6; color:#FFF; }
  table td { border:inset 1px #000; } */
  
  #example1 {
   background-image:url("static/min.jpeg");
  background-repeat: no-repeat;
  background-size: 1500px 800px ;
  background-attachment: fixed ;
  
}
  
.container {
  position: relative;
  width: 405px;
  max-width: 500px; /* Maximum width */
  margin: 0; /* Center it */
}
</style>
</head>
<body id="example1">
  
  

  <center><img src="{{ url_for('static',filename='productAnalyserPic.png') }}" width="1200" height="70"></center> 
 <!-- <img src="{{ url_for('static',filename='yin.png') }}" width="1250" height="70"> -->
 <br><br><br><br>

 <div style="background-color: #F6F6F6; float: left;">
   <div class="container">
      <img src="{{metadata['imgLink']}}" alt="Notebook" style="width:min-content;height: 482px;   max-width: 400px; ">
    </div>
</div>
<div style="padding-right: 1%; background-color: #F6F6F6; float: left; height: 486px; width: 1000px;">
   <table>
      <tr>
         <td><b>PRODUCT NAME: </b></td>
         <td>{{metadata['p_name']}}</td>
      </tr>
      <tr>
         <td><b>Total Number of Reviews: </b></td>
         <td>{{metadata['total_no_reviews']}}</td>
      </tr>
      <tr>
        <td>
          <b>Review Stats: </b>
        </td>
      </tr>
   </table>
   <canvas id="pieChart" width="450" height="400"></canvas>
   <canvas id="bar_chart" width="450" height="400"></canvas>
    </div>
</div>
<script>
  var pieData = [
    {% for item, label, colors in set %}
      {
        value: {{item}},
        label: "{{label}}",
        color : "{{colors}}"
      },
    {% endfor %}
  ];

  // draw pie chart
  new Chart(document.getElementById("pieChart").getContext("2d")).Pie(pieData);

</script>


<!--  -->

<center>
  
   <script>
     // bar chart data
     var barData = {
        type:'horizontalBar',
  //      labels : [
  //        {% for item in bar_labels %}
  //         "{{ item }}",
  //        {% endfor %}
  // ],
  labels : ["\u2B50 \u2B50 \u2B50 \u2B50 \u2B50","\u2B50 \u2B50 \u2B50 \u2B50","\u2B50 \u2B50 \u2B50","\u2B50 \u2B50","\u2B50" ],

       datasets : [{
         fillColor: "rgba(151,187,205,0.2)",
         strokeColor: "rgba(151,187,205,1)",
         pointColor: "rgba(151,187,205,1)",
         data : [
           {% for item in bar_values %}
              "{{ item }}",
             {% endfor %}
      ]
         }
       ]
     }

    // get bar chart canvas
    var mychart = document.getElementById("bar_chart").getContext("2d");

      steps = 10
      max = {{bar_max}}

    // draw bar chart
    new Chart(mychart).Bar(barData, {
      scaleOverride: true,
      scaleSteps: steps,
      scaleStepWidth: Math.ceil(max / steps),
      scaleStartValue: 0,
      scaleShowVerticalLines: true,
      scaleShowGridLines : true,
      barShowStroke : true,
      scaleShowLabels: true
      }
    );

   </script>
 </center>


 <div style="background-color: #F6F6F6;clear: both; padding: 50px; padding-top: 100px;">
  <center>
  <TABLE WIDTH="100%"   CELLPADDING="4" CELLSPACING="3">
     
     <TR>
        <TH style="color: green;">Positive Review({{p_re_len}})</TH>
        <TH style="color: #ff1a1a;">Negative Review({{n_re_len}})</TH>
     </TR>
     <TR ALIGN="CENTER">
        <TD style="border-right: 1px solid #080808;border-bottom: 1px solid #cdd0d4;">{{p_re[0]}}</TD>
        <TD style="border-bottom: 1px solid #cdd0d4;">{{n_re[0]}}</TD>
     </TR>
     <TR ALIGN="CENTER">
        <TD style="border-right: 1px solid #080808;border-bottom: 1px solid #cdd0d4;">{{p_re[1]}}</TD>
        <TD style="border-bottom: 1px solid #cdd0d4;">{{n_re[1]}}</TD>
     </TR>
     <TR ALIGN="CENTER">
        <TD style="border-right: 1px solid #080808;border-bottom: 1px solid #cdd0d4;">{{p_re[2]}}</TD>
        <TD style="border-bottom: 1px solid #cdd0d4;">{{n_re[2]}}</TD>
     </TR>
     <TR ALIGN="CENTER">
        <TD style="border-right: 1px solid #080808;border-bottom: 1px solid #cdd0d4;">{{p_re[3]}}</TD>
        <TD style="border-bottom: 1px solid #cdd0d4;">{{n_re[3]}}</TD>
     </TR>
     <TR ALIGN="CENTER">
        <TD style="border-right: 1px solid #080808;border-bottom: 1px solid #cdd0d4;">{{p_re[4]}}</TD>
        <TD style="border-bottom: 1px solid #cdd0d4;">{{n_re[4]}}</TD>
     </TR>
  </TABLE>
  </center>
   
   <br><br>
  <form action="/seller">
  <div align="center">
   <div class="b1">
     <button class="b1" type="submit" height="100" width="300">Back</button>
  
  </div>
  </div>
  </form>
   


 </div>


</body>
</html>